**__pycache__**
*.pkl
*.so
*.npz
*.stat
output/
**build**
data/
**egg-info**
*.pdf
*.png
*.html
mtr/datasets/waymo/MTR_MLP_Attention_8a100_single.json
mtr/datasets/waymo/MTR_MLP_Attention_8a100_single.txt
mtr/datasets/waymo/MTR_wo_poses_8a100_single.json
mtr/datasets/waymo/MTR_wo_poses_8a100_single.txt
